{
    "presets": [
        [
            "es2015", {
                "modules": false
            }
        ],
        "react",
        "stage-2"
    ],
    "compact" : true,
    "plugins": [
        [
            "import", {
                "libraryName": "antd",
                "style": "css"
            }
        ],
        [
            "import", {
                "libraryName": "antd-mobile",
                "style": "css"
            }
        ]
    ]
}